# Twitter Verification

**Author:** 

**Published:** 2026-09-14

**Categories:** 

**Tags:** 

**Source:** https://blog.billymacdeus.com/

---

I've been kind of OC lately on my twitter account, i've been wanting the blue checkmark next to my handle on twitter. And sad to say, Twitter isn't accepting verification from the public, in short, the user cannot initiate the verification, instead, the user has to wait for Twitter for the initiated contact if there is a need to verify the account.
Here's a snapshot from their website. an FAQ per se about verification of accounts:
Click
here for more
